[submodule "vendor/detours/Detours"]
	path = vendor/detours/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "vendor/filewatch/filewatch"]
	path = vendor/filewatch/filewatch
	url = https://github.com/ThomasMonkman/filewatch.git
[submodule "rangers-sdk"]
	path = sdks/rangers-sdk
	url = https://github.com/angryzor/rangers-sdk.git
[submodule "vendor/imgui/imgui"]
	path = vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/imguizmo/ImGuizmo"]
	path = vendor/imguizmo/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "vendor/implot/implot"]
	path = vendor/implot/implot
	url = https://github.com/epezent/implot.git
[submodule "sdks/wars-sdk"]
	path = sdks/wars-sdk
	url = https://github.com/angryzor/wars-sdk.git
[submodule "vendor/imgui-node-editor/imgui-node-editor"]
	path = vendor/imgui-node-editor/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "vendor/imgui_club/imgui_club"]
	path = vendor/imgui_club/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "sdks/miller-sdk"]
	path = sdks/miller-sdk
	url = https://github.com/angryzor/miller-sdk.git
[submodule "vendor/uwebsockets/libuv"]
	path = vendor/uwebsockets/libuv
	url = https://github.com/libuv/libuv.git
[submodule "vendor/uwebsockets/uWebSockets"]
	path = vendor/uwebsockets/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
