#include "winres.h"

#define STR_(x) #x
#define STR(x) STR_(x)

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
VS_VERSION_INFO VERSIONINFO
 FILEVERSION     DEVTOOLS_VERSION_MAJOR,DEVTOOLS_VERSION_MINOR,DEVTOOLS_VERSION_PATCH,0
 PRODUCTVERSION  DEVTOOLS_VERSION_MAJOR,DEVTOOLS_VERSION_MINOR,DEVTOOLS_VERSION_PATCH,0
 FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS          VOS__WINDOWS32
 FILETYPE        VFT_DLL
 FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName",      DEVTOOLS_PROJECT_AUTHOR
            VALUE "FileDescription",  DEVTOOLS_PROJECT_LONG_DESCRIPTION
            VALUE "FileVersion",      STR(DEVTOOLS_VERSION.0)
            VALUE "InternalName",     STR(DEVTOOLS_BINARY_FILENAME)
            VALUE "LegalCopyright",   DEVTOOLS_PROJECT_COPYRIGHT
            VALUE "OriginalFilename", STR(DEVTOOLS_BINARY_FILENAME)
            VALUE "ProductName",      DEVTOOLS_PROJECT_DESCRIPTION
            VALUE "ProductVersion",   STR(DEVTOOLS_VERSION.0)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
